nav{
    background-color: #373B69;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 85%;
    height: 80px;
    align-items: center;
}
.logo img{
    width: 180px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: #373B69;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: red;
  }